{% extends "annex/wrapper.html" %}
{% load static %}
{% block content %}
<div class="banner-bg --not_banner" id="top">
{% for items in object_list %}
  <div class="with-company col-md-4">
    <div class="col-xs-12">
      <div class="banner-overlay"></div>
      <div class="content-company">
        <div style="background: url('{{items.background.url}}');" class="welcome-text">
          <h2>{{items.name}}</h2>
        </div>
        <h5>{{items.city}}</h5>
        <a href="/annex/{{items.id}}">Загрузить страницу</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
